// Define variables to override default ones
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:700&display=swap');

.title-font {
    text-transform: uppercase;
    font-family: 'Roboto Condensed', sans-serif;
}
.full-screen {
    width: 100vw;
    height: 100vh;
}
.flex-vcenter {
    align-items: center;
}

// Import full Spectre source code
@import "node_modules/spectre.css/src/spectre";
@import "node_modules/spectre.css/src/spectre-exp";
@import "node_modules/spectre.css/src/spectre-icons";
