.m-0 {
  margin: 0 !important;
}

.bg-white {
  background-color: #fff;
}

.separator {
  width: 100px;
  height: 4px;
  border: 0;
  margin: 0;
}

.c-grid,
.skills,
.projects,
.spacer {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.c-column {
  width: 50%;
}

@media (max-width: 960px) {
  .c-column {
    width: 100%;
  }
}

.c-column-full {
  width: 100%;
}

