// Core colors
$primary-color: coral;

$primary-color-dark: darken($primary-color, 3%);
$primary-color-light: lighten($primary-color, 3%);
$secondary-color: lighten($primary-color, 37.5%);
$secondary-color-dark: darken($secondary-color, 3%);
$secondary-color-light: lighten($secondary-color, 3%);

// Gray colors
$dark-color: #303742;
$light-color: #fff;
$gray-color: lighten($dark-color, 55%);
$gray-color-dark: darken($gray-color, 30%);
$gray-color-medium: lighten($gray-color, 16%);
$gray-color-light: lighten($gray-color, 20%);

// Responsive breakpoints
$size-xs: 480px;
$size-sm: 600px;
$size-md: 840px;
$size-lg: 960px;
$size-xl: 1280px;
